@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
	--font-sans: "Geist", system-ui, sans-serif;
  --font-mono: ui-monospace, monospace;
  --breakpoint-3xl: 1920px;
  --color-mint-gray: #ECF0EE;
}

@layer base {
	* {
		box-sizing: border-box;
    margin: 0;
    padding: 0;
	}

 html,
 body {
  height: 100%;
  min-height: 100vh;
 }

 #root {
	width: 100%;
  height: 100%;
  min-height: 100vh;
 }

	body {
		font-family: var(--font-sans);
		@apply bg-[#F9FAFC]
	}

	h1 {
		@apply text-2xl font-medium
	}

	h2 {
		@apply text-xl font-medium leading-normal
	}

	h3 {
		@apply text-lg font-medium leading-normal
	}
}

@layer components {
	.btn-nav-main {
		@apply flex items-center gap-2 px-3 py-2 text-sm text-gray-700 hover:bg-gray-50 rounded-md transition-colors
	}

	.host-card-gradient {
	  background: linear-gradient(135deg, #0F766E 0%, #14B8A6 100%);
	}

	.tab {
		@apply flex items-center gap-2 p-3 cursor-pointer rounded-2xl transition-colors duration-200 ease-in-out;
	}

	.tab-active {
		@apply bg-[#D8FCF3] text-[#2DAA86] shadow-sm;
	}
}
